@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
body{
    font-family: sans-serif;
    padding:90px 20px 0px;
    background-image: url(./anillo/IMG-20221114-WA0003.jpg)
    
}
.principal{
    
    min-height: 1100px;
}
.header{
    background-color: rgb(179, 172, 172);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
     margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: rgb(122, 122, 43);
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 20px;
    margin:0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: rgb(241, 182, 237);
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display:none;
    
}


h2{
    font-size: 20px;
    color:rgb(132, 153, 14);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(226, 223, 223);

}
  
    
.Artesanales img{
    height: 210px;
    width: 90%;
   margin: 0px;
    border: solid silver;
    
    }
 
.Artesanales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:5px;
    gap: 10px;
     text-align: center;
     max-width: 80%;
    }

.card{   
     overflow: hidden;
     box-shadow: 0px 1px 10px rgb(0,0,0,0,2);
    cursor:default;
    transition: all 400ms ease;
    background: silver;
    max-width: 80%;
     padding: 0;
    }
    
    .card:hover{
        box-shadow: 5px 5px 20px rgb(0, 0,0,0.4);
        transform: translatey(-3%);
    }
    .card .contenidos{
        padding: .2rem .5rem;
        text-align: center;
        height: 20%;
        
    
     }
     .card img{
        max-height: 200px;
        
     }
     .card .contenidos p{
        line-height: 1.5;
        color: black;
        padding: 0 1rem;
        text-align: justify;
     }
     .card .contenidos a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        color: rgb(226, 43, 156);
        margin-top: 10px;
        border: 1px solid rgb(226, 43, 156);
        border-radius:4px;
        transition: all 400ms ease;
       }
     .card .contenidos a:hover{
        background:  rgb(226, 43, 156);
        color: bisque;
     }
     .card .contenidos h3{
        font-weight: 400;
        margin-bottom: 20px;
     }
     footer{
        background-color: silver;
        color: black;
     }
     footer ul{
        padding: 0;
     }
     footer li{
        list-style: none;
     }
     .wrap-footer{
        display:grid;
        grid-template-columns:20% 20% 20% 20%;
        column-gap: 5%;
        padding: 1rem;
        margin: 2rem auto;
        max-width: 1200px;
        
     }
     .logo-element-footer{
        max-height: 75px;
        

     }
     h4{
        font-size: 25px;
     }
     h5{
        font-size: 20px;
     }
     .element-footer h6{
      
        margin: 1rem 0;
     }
     .text-element-footer li{
      line-height: 2;
     }
     .text-element-footer li a{
        color:rgb(102, 134, 13);
        font-size: 20px;
        text-decoration: none;
     }

     
     
     @media(max-width:768px){
    .Artesanales{
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
    
        }
       }  
         @media(max-width:600px){
     body{
     overflow:scroll;
     
            }    
    .Artesanales{
     display: flex;
    flex-flow: wrap;}
    
    
    
    .nav-toggle{
                
     display: block;
                
     }
    .nav-menu{
     background-color: rgb(175, 180, 180);
    align-items: center;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    position:fixed;
    display :flex;
   flex-direction: column;
    top:60px;
    padding: 20px ;
    left: 100%;
    transition: left 0.3s;
    
     }
                
    .nav-menu-item{
    line-height: 70px;
                }
    .nav-menu-link:hover{
    color:rgb(70, 70, 2) ;
                }
    .nav-menu_visible{
    left: 0;
    
    }
            }