@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
body{
    font-family: sans-serif;
    padding:90px 20px 0px;
    background-image: url(./anillo/IMG-20221114-WA0003.jpg)
    
}
.contenedor{
    
    min-height: 1100px;
}
.header{
    background-color: rgb(179, 172, 172);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
     margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: rgb(122, 122, 43);
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 20px;
    margin:0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: rgb(241, 182, 237);
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border:none;
    font-size: 50px;
    padding:  20px;
    line-height: 60px;

    display:none;
}
.readMore_btn{
    width: 10%;
    padding: 0px;
    color: white;
    background-color: rgb(192, 178, 192);
    height: 40px;
    font-size: 25px;
    margin: 0;
    
    
    
}



h2{
    font-size: 35px;
    color:rgb(114, 80, 97);
    padding: 10px;
    text-decoration:underline;

}

    
    
.Artesanales img{
    height: 210px;
    width: 90%;
    margin: 0px;
    border: solid silver;
    }
 
.Artesanales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap:10px; 
     text-align: center;
     max-height: 30%;
     width: 60%;
     
     
     }

.card{   
     overflow: hidden;
     box-shadow: 0px 1px 10px rgb(0,0,0,0,2);
    cursor:default;
    transition: all 400ms ease;
    background: silver;
    
    padding: 5px;
    
    
    
    
    
    
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgb(0, 0,0,0.4);
        transform: translatey(-3%);
    }
    .card .contenidos{
        padding: 10px;
        text-align: center;
        height: 20%;
        
    
     }
     .card .contenidos p{
        line-height: 1.5;
        color: black;
     }
     .card .contenidos a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        color: rgb(226, 43, 156);
        margin-top: 10px;
        border: 1px solid rgb(226, 43, 156);
        border-radius:4px;
        transition: all 400ms ease;
        


     }
     .card .contenidos a:hover{
        background:  rgb(226, 43, 156);
        color: bisque;
     }
     .card .contenidos h3{
        font-weight: 400;
        margin-bottom: 15px;
     }
     
     
@media (max-widht:778px) { 
body{
    padding-top: 70px;
}
.header{
    
    height: 60px;
    
}

.logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}
.nav-menu{
    flex-direction: column;
    margin-right: 20px;
    background-color: bisque;
    position: fixed;
    left: 0;
    top:60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100%-60%);
    overflow-y:auto;
    left: 100%;
    transition: left o.3s;
}
.nav-menu-item{
    
    line-height: 70px;
    
}


.nav-menu-link:hover {

    background-color: none;
    color: bisque;
}
.nav-toggle{
    display:block;
}
.nav-menu_visible{
left:0;
}
.Artesanales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}